@import url(../style.css);

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#produtos_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.produto_card {
  width: 200px;
  height: 300px;
  margin: 20px;
  box-shadow: 0 0 5px 5px var(--shadow-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.produto_card img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.produto_card h3,
.produto_card h4 {
  margin: 10px 0;
}

.produto_card button {
  background-color: transparent;
  color: var(--link-color);
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.adicionar_produto_card {
  cursor: pointer;
  text-align: center;
}

.plus_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
  box-shadow: 0 0 5px 5px var(--shadow-color);
  margin-bottom: 10px;
}