@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  font-weight: 600;
  font-style: normal;
  color: #0075FF;
  font-size: 16px;
}

body {
  background: linear-gradient(90deg, #ff6b00b8, #ff5656);
  overflow: hidden;
  width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 0.7em;
  margin-left: 15px;
  color: #000000c2;
}

.container-registro {
  width: 600px;
  height: 90%;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 15px 15px #00000040;
  padding: 70px;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}

form {
  width: 100%;
  height: 70%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-login {
  width: 100%;
  height: 55px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 5px 5px #00000040;
  border: none;
  outline: none;
}

.doido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.manter-login {
  display: flex;
}

.manter-login input {
  width: 20px;
}

.btn-login {
  width: 100%;
  height: 60px;
  background-color: #ffbe9a;
  border: none;
  box-shadow: 0 0 5px 5px #00000040;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  font-size: 0.7em;
}

.ir-login {
  margin: 30px 10px;
}

section {
  display: none;
}

section.active {
  display: block;
}

input[type="file"] {
  display: none;
}

.documento-cadastro {
  width: 100%;
  height: 55px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 5px 5px #00000040;
  display: flex;
  align-items: center;
}

.documento-cadastro label {
  font-size: 0.6em;
  font-weight: normal;
  color: #000000c2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

label i {
  font-size: 1.5em;
}

/* ESTILIZAÇÃO DA TELA DE ESQUECEU A SENHA */

.VaL-btn {
  text-align: center;
  font-style: normal;
  font-size: 15px;
  font-weight: 800;
  margin-top: 30px;
  cursor: pointer;
}

#section-esqSenha {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#section-esqSenha img {
  width: 250px;
}

#section-esqSenha h2 {
  text-align: center;
  color: #455a64;
  font-size: 20px;
  font-style: normal;
  font-size: 14px;
  margin: 15px 0;
}

.input-esqSenha {
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 0px 15px 10px;
  margin-bottom: 30px;
  text-align: center;
}

.input-esqSenha::placeholder {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .container-registro {
    width: 98%;
    height: 98%;
    padding: 50px 20px;
    border: linear-gradient;
  }

  .container-registro a,
  .container-registro p {
    font-size: 14px;
  }

  h1 {
    font-size: 1.3em;
  }

  input[type="submit"],
  .input-login {
    height: 50px;
  }

  .documento-cadastro label {
    font-size: 0.5em;
  }
}
